<!DOCTYPE html>
<html>
    <head>
        
        
    </head>
    
    <body>
        
        <ol>
            <li> <%= "#{@name}"%></li>
            <li> <%= "#{@email}"%></li>
            <li> <%= "#{@age}"%></li>
            <li> <%= "#{@ethnicity}"%></li>
            <li> <%= "#{@phone_number}"%></li>
        </ol>
        <p><%= "#{@message}" %></p>
        
    </body>
</html>